@use "@styles/color";
@use "@styles/font";
@use "@styles/space";

.btn {
  border-radius: space.$s2;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: space.$s2;
  box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
}

// Size
.small {
  font: font.$text-sm-medium;
  font-size: space.$s3-1;
  padding: space.$s2 space.$s3-1;
  line-height: 142.857%;
}

.medium {
  font: font.$text-sm-medium;
  font-size: space.$s3-1;
  padding: space.$s2-1 space.$s4;
  line-height: 142.857%;
}

.large {
  font: font.$text-md-medium;
  font-size: space.$s4;
  padding: space.$s2-1 space.$s4-1;
  line-height: 150%;
}

.xlarge {
  font: font.$text-md-medium;
  font-size: space.$s4;
  padding: space.$s3 space.$s5;
  line-height: 150%;
}

// Color and State
.primary {
  border-color: color.$primary-600;
  background-color: color.$primary-600;
  color: white;

  &:hover {
    border-color: color.$primary-700;
    background-color: color.$primary-700;
  }

  &:focus {
    box-shadow:
      0 0 0 4px color.$primary-100,
      0 1px 2px 0 rgb(16 24 40 / 5%);
  }

  &:disabled {
    border-color: color.$primary-200;
    background-color: color.$primary-200;
  }
}

.secondary {
  border-color: color.$primary-50;
  background-color: color.$primary-50;
  color: color.$primary-700;

  &:hover {
    border-color: color.$primary-100;
    background-color: color.$primary-100;
  }

  &:focus {
    box-shadow:
      0 0 0 4px color.$primary-100,
      0 1px 2px 0 rgb(16 24 40 / 5%);
  }

  &:disabled {
    border-color: color.$primary-25;
    background-color: color.$primary-25;
    color: color.$primary-300;
  }
}

.gray {
  border-color: color.$gray-300;
  background-color: white;
  color: color.$gray-700;

  &:hover {
    background-color: color.$gray-50;
  }

  &:focus {
    box-shadow:
      0 0 0 4px color.$gray-100,
      0 1px 2px 0 rgb(16 24 40 / 5%);
  }

  &:disabled {
    border-color: color.$gray-200;
    color: color.$gray-300;
  }
}
