$s0: 0;
$s0-1: 0.0625rem;
$s1: 0.25rem;
$s1-1: 0.375rem;
$s2: 0.5rem;
$s2-1: 0.625rem;
$s3: 0.75rem;
$s3-1: 0.875rem;
$s4: 1rem;
$s4-1: 1.125rem;
$s5: 1.25rem;
$s6: 1.5rem;
$s8: 2rem;
$s10: 2.5rem;
$s11: 2.75rem;
$s12: 3rem;
$s15: 3.75rem;
$s16: 4rem;
$s20: 5rem;
$s24: 6rem;
$s28: 10rem;
$s34: 20rem;
