@use "@styles/color";
@use "@styles/font";
@use "@styles/space";

label {
  font: font.$text-sm-medium;
  color: color.$gray-700;
  line-height: 142.857%;
}

.content {
  width: space.$s34;
  height: space.$s11;
  padding: space.$s2-1 space.$s3-1;
  display: flex;
  align-items: center;
  gap: space.$s2;
  box-sizing: border-box;
  border-radius: space.$s2;
  border: space.$s0-1 solid color.$gray-300;
  background: white;
  box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
  font: font.$text-md-medium;
  line-height: 150%;
}

.text {
  flex: 1 0 0;
}

.dropdownButton {
  width: space.$s5;
  height: space.$s5;
}

select {
  display: none;
}

.hint {
  color: color.$gray-500;
  font: font.$text-sm-regular;
  line-height: 150%;
}
